body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body * {
    box-sizing: border-box;
}
textarea {
    min-height: 2rem;
}
textarea:disabled {
    opacity: 1;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}


.ui-icon-crosshair:after {
    background-image: url("../lib/images/jmobile/crosshair-white.png");
    background-size: 18px 18px;
}
.ui-icon-filter:after {
    background-image: url("../lib/images/jmobile/filter-white.png");
    background-size: 18px 18px;
}
/* .ui-icon-color:after {
    background-image: url("../lib/images/jmobile/palette-white.png");
    background-size: 18px 18px;
} */


.hidden {
    display: none;
}


.spacer {
    visibility: hidden;
}

h1.ui-bar {
    width: 100%;
    text-align: center;
}

.container {
    width: 80vw;
}

.container-options {
    position: relative;
    margin: 0 5vw;
    padding-top: 2vh;
}

.container-canvas {
    display: flex;
    justify-content: center;
    margin: 0 7vw;
    margin-top: 2vw;
    width: 66vw;
    height: 33vw;
    overflow: auto;
}
.container-canvas canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-date {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.options {
    display: flex;
    grid-gap: 0.5em;
    /* width: 20vw; */
}
.options > div:first-child {
    flex-grow: 1;
}
.options .control {
    display: flex;
    align-items: center;
    width: 100%;
    grid-gap: 0.5em;
}
.options .control * {
    height: 100%;
}
.options .control label {
    margin-bottom: 0;
    text-align: right;
}
.options .control .ui-input-text {
    flex-grow: 1;
}
.tag-colorpicker {
    float: left;
    margin-right: 0.5em;
}
.section-tags > .ui-input-text,
#tag-color-input {
    display: inline-block;
}
.tag-color-controls {
    display: inline-flex;
    grid-gap: 0.5em;
    align-items: center;
}
.tag-desc {
    display: block !important;
    width: auto !important;
    width: -webkit-fill-available !important;
}


.slider-bubble {
    /* background: red; */
    /* color: white; */
    /* padding: 4px 12px; */
    /* border-radius: 4px; */
    position: absolute;
    left: 50%;
    top: calc(100% + 3px);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    grid-gap: 0.5em;
}
/* .slider-bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 4px;
    background: red;
    top: -3px;
    left: 50%;
} */
.ui-slider-track .ui-btn.ui-slider-handle {
    width: 0.5em;
    margin-left: calc(0.25em - 7px);
}


.dragger {
    height: 1.5em;
    transform: translateY(-0.5em);
    background-image: linear-gradient(white 50%, transparent 50%);
    background-size: 100% 0.25em;
    background-repeat: repeat-y;
    mix-blend-mode: difference;
    opacity: 0.333;
    cursor: pointer;
}
.dragger.dragging {
    cursor: move;
}


.sidebar {
    width: 20vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.events {
    height: 100%;
    overflow-y: scroll;
}
.events::-webkit-scrollbar {
    width: 0;
}
.events-header {
    display: flex;
}
.events-header h1 {
    flex-grow: 1;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.single-event {
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 0.6em;
    border-color: var(--color);
    border-style: solid;
    border-width: 0.5em;
}
.single-event:after {
    content: '';
    pointer-events: none;
    border-color: var(--color);
    border-style: ridge;
    border-width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}
.single-event:last-of-type {
    margin-bottom: 80vh;
}
.single-event.dragging {
    position: absolute;
}
.single-event.placeholder {
    width: 100%;
    border: 1px dashed darkgray;
}
.event-title {
    text-align: center;
    white-space: normal;
    margin-top: 0;
}
.event-title.editting:after {
    display: none;
}
.event-date {
    font-size: 80%;
    font-weight: 300;
    font-style: italic;
}
.event-desc {
    font-weight: 300;
    font-size: 90%;
    white-space: normal;
}
.collapsed > *:not(.dragger, .event-title) {
    display: none;
}
.event-footer {
    display: flex;
    grid-gap: 0.5em;
}
.event-color-button {
    width: 2.2em !important;
}
/* .event-tags {
    width: 100%;
} */
.single-event .ui-select {
    width: 100%;
}


.colorpicker > .evo-pop {
    width: 100%;
}
.colorpicker .evo-color {
    display: none;
}
