body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body * {
    box-sizing: border-box;
}
textarea {
    min-height: 2rem;
}


/* .ui-icon-color:after {
    background-image: url("../img/jmobile/color.png");
    /* Make your icon fit */
    background-size: 18px 18px;
} */
.ui-icon-crosshair:after {
    background-image: url("../img/jmobile/crosshair.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}

.hidden {
    display: none;
}


.spacer {
    visibility: hidden;
}

h1.ui-bar {
    width: 100%;
    text-align: center;
}

.container {
    width: 80vw;
}

.container-options {
    position: relative;
    margin: 0 5vw;
    padding-top: 2vh;
}

.container-canvas {
    display: flex;
    justify-content: center;
    margin: 0 7vw;
    margin-top: 2vw;
    width: 66vw;
    height: 33vw;
    overflow: auto;
}
.container-canvas canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-date {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.options {
    /* display: flex; */
    width: 20vw;
}
.options .control {
    display: flex;
    align-items: center;
    width: 100%;
    grid-gap: 0.5em;
}
.options .control * {
    height: 100%;
}
.options .control label {
    margin-bottom: 0;
    text-align: right;
}
.options .control .ui-input-text {
    flex-grow: 1;
}

.slider-bubble {
    /* background: red; */
    /* color: white; */
    /* padding: 4px 12px; */
    /* border-radius: 4px; */
    position: absolute;
    left: 50%;
    top: calc(100% + 3px);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    grid-gap: 0.5em;
}
/* .slider-bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 4px;
    background: red;
    top: -3px;
    left: 50%;
} */
.ui-slider-track .ui-btn.ui-slider-handle {
    width: 0.5em;
    margin-left: calc(0.25em - 7px);
}


.dragger {
    height: 1.5em;
    transform: translateY(-0.5em);
    background-image: linear-gradient(white 50%, transparent 50%);
    background-size: 100% 0.25em;
    background-repeat: repeat-y;
    mix-blend-mode: difference;
    opacity: 0.75;
    cursor: pointer;
}
.dragger.dragging {
    cursor: move;
}


.sidebar {
    width: 20vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.events {
    height: 100%;
    overflow-y: scroll;
}
.events::-webkit-scrollbar {
    width: 0;
}
.single-event {
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 0.6em;
}
.single-event:last-of-type {
    margin-bottom: 80vh;
}
.single-event.dragging {
    position: absolute;
}
.single-event.placeholder {
    width: 100%;
    border: 1px dashed darkgray;
}
.event-title {
    text-align: center;
    white-space: normal;
    margin-top: 0;
}
.event-title.editting:after {
    display: none;
}
.event-date {
    font-size: 80%;
    font-weight: 300;
    font-style: italic;
}
.event-desc {
    font-weight: 300;
    font-size: 90%;
    white-space: normal;
}
.collapsed .ui-input-text,
.collapsed .event-date,
.collapsed .event-desc {
    display: none;
}
.event-footer {
    display: flex;
    grid-gap: 0.5em;
}
.event-color-button {
    width: 2.2em !important;
}
.event-colorpicker > .evo-pop {
    width: 100%;
}
