body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body * {
    box-sizing: border-box;
}

.spacer {
    visibility: hidden;
}

h1.ui-bar {
    width: 100%;
    text-align: center;
}

.container {
    width: 80vw;
}

.sidebar {
    width: 20vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.container-options {
    position: relative;
    margin: 0 5vw;
    padding-top: 2vh;
}

.container-canvas {
    display: flex;
    justify-content: center;
    margin: 0 7vw;
    margin-top: 2vw;
    width: 66vw;
    height: 33vw;
    overflow: auto;
}
.container-canvas canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-date {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.options {
    /* display: flex; */
    width: 20vw;
}
.options .control {
    display: flex;
    align-items: center;
    width: 100%;
    grid-gap: 0.5em;
}
.options .control * {
    height: 100%;
}
.options .control label {
    margin-bottom: 0;
    text-align: right;
}
.options .control .ui-input-text {
    flex-grow: 1;
}

.slider-bubble {
    /* background: red; */
    /* color: white; */
    /* padding: 4px 12px; */
    /* border-radius: 4px; */
    position: absolute;
    left: 50%;
    top: calc(100% + 3px);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    grid-gap: 0.5em;
}
/* .slider-bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 4px;
    background: red;
    top: -3px;
    left: 50%;
} */
