body {
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

canvas.palette {
    z-index: -2;
}
canvas.overlay {
    z-index: -1;
}

canvas.drag {
    cursor: grab;
}
canvas.grabbing {
    cursor: grabbing;
}

.spacer {
    flex-grow: 1;
}

.button-bar {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100vw - 80px);
    height: 10vh;
    padding: 20px 40px;
    gap: 40px;
    z-index: 899;
    pointer-events: none;
}
.button-bar .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vh;
    height: 8vh;
    padding: 1vh;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #bbbbbb;
    pointer-events: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button-bar .button.disabled {
    background-color: #aaaaaa;
}
.button-bar .button.ignored {
    pointer-events: none;
}
.button-bar .button > * {
    width: 100%;
    height: auto;
}
.button-bar .button.disabled > * {
    opacity: 25%;
}

.menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: auto;
    /* padding: 8px; */
    background-color: #eeeeee;
    z-index: 999;
}
.menu.active {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.menu > div {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 32px;
    padding: 8px;
    cursor: pointer;
    gap: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu > div > * {
    width: 100%;
}

.menu > div:hover {
    background-color: #ddd;
}
.menu > div.hidden {
    display: none;
}
.menu > div.disabled {
    color: #bbb;
}

.menu input[type="color"] {
    /* appearance: none; */
    /* border: none; */
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.menu input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 4px;
}
.menu input[type="color"]::-webkit-color-swatch {
    /* border: none; */
}

.menu > div:hover {
    background-color: #ddd;
}

.menu > div.hidden {
    display: none;
}

.menu > div.disabled {
    color: #bbb;
}

.menu .toggle {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    background: white;
    width: 48px;
    height: 32px;
    cursor: pointer;
    pointer-events: none;
}
.menu .toggle::-webkit-slider-runnable-track {
    background: white;
    border: solid 1px #4f4f4f;
    border-radius: 2px;
}
.menu .toggle:focus {
    outline: none;
}
.menu .toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    width: 16px;
    height: 32px;
    background-color: #aaa;
}